{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image:  url({{ url_for('static', filename='img/ExcitedDog.jpeg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Dogs</h1>
            <span class="subheading">Pictures of dogs with words next to them.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
      <img src="{{post.img_url}}" width="200" height="auto">
        <div class="post-preview">



          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            {{post.author.name}}
            on {{post.date}}
            {% if current_user.id == 1 %}
             <a href="{{ url_for('delete_post', post_id=post.id) }}">🚽</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}

        <!-- New Post -->
        <div class="row d-flex justify-content-center align-content-center">
          {% if current_user.id == 1 %}
          <a class="btn btn-primary center-block" href="/new-post">Create New Post</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <hr>

{% include "footer.html" %}

