{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/DogHouse.jpeg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">

            {% if is_edit: %}
            <h1>Edit Dog</h1>
            {% else: %}
            <h1>New Dog</h1>
            {% endif %}


            <span class="subheading">Put new dog in house.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        {{ ckeditor.load() }}


        {{ ckeditor.config(name='body') }}


        {{ wtf.quick_form(form, novalidate=True) }}


      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}